header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #c2c2c2;

    padding: 1em;
    box-sizing: border-box;
    width: 100%;

    position: fixed;
    top: 0;
}

header .title {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
}

header .title img {
    height: 30px;
    max-height: 30px;
}

header .title p {
    color: #1a1a1b;
    margin: 0;
    padding-left: 0.5em;
    font-size: 26px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    color: #454647;
    margin: 0, 0.5em;
    padding: 0.5em;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}

header nav a.selected {
    color: #faa81a;
}

header nav a:hover {
    background-color: #ffffff;
}

header nav a.selected:hover {
    background-color: #49443c;
}
