.credential {
    padding: 1em;
    margin: 2em;
}

.credential .cat {
    margin: 0;
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-size: 24;
    color: #454647;
}

.credential .text {
    font-size: 20px;
    color: #4d4d4d;
}

.credential .text .date {
    margin: 0 0.5em;
    color: #454647;
}

.credential .download {
    text-decoration: none;
}

.credential .download p {
    margin: 0;
    margin-left: 1em;
    width: fit-content;
    border-radius: 5px;
    border: solid 1px #4d4d4d;
    padding: 0.5em;
    color: #4d4d4d;
    font-size: 20px;
    text-decoration: none;
}

.credential .download p img {
    height: 20px;
    filter: invert(90%) sepia(7%) saturate(100%) hue-rotate(177deg) brightness(83%) contrast(91%);
}

.credential .download p:hover {
    border: solid 1px #59585f;
    color: #181535;
}
